Inventarios.DataLayer/bin/Release/netcoreapp3.0/Inventarios.DataLayer.deps.json
Inventarios.DataLayer/obj/Release/netcoreapp3.0/Inventarios.DataLayer.AssemblyInfo.cs
Inventarios.DataLayer/bin/Release/netcoreapp3.0/Inventarios.DataLayer.dll
Inventarios.DataLayer/bin/Release/netcoreapp3.0/Inventarios.DataLayer.pdb
Inventarios.DataLayer/obj/Inventarios.DataLayer.csproj.nuget.cache
Inventarios.DataLayer/obj/Inventarios.DataLayer.csproj.nuget.dgspec.json
Inventarios.DataLayer/obj/project.assets.json
Inventarios.DataLayer/obj/Debug/netcoreapp3.0/Inventarios.DataLayer.assets.cache
Inventarios.DataLayer/obj/Release/netcoreapp3.0/Inventarios.DataLayer.AssemblyInfoInputs.cache
Inventarios.DataLayer/obj/Release/netcoreapp3.0/Inventarios.DataLayer.assets.cache
Inventarios.DataLayer/obj/Release/netcoreapp3.0/Inventarios.DataLayer.csproj.CoreCompileInputs.cache
Inventarios.DataLayer/obj/Release/netcoreapp3.0/Inventarios.DataLayer.csproj.FileListAbsolute.txt
Inventarios.DataLayer/obj/Release/netcoreapp3.0/Inventarios.DataLayer.csprojAssemblyReference.cache
Inventarios.DataLayer/obj/Release/netcoreapp3.0/Inventarios.DataLayer.dll
Inventarios.DataLayer/obj/Release/netcoreapp3.0/Inventarios.DataLayer.pdb
Inventarios.DataLayer/obj/project.assets.json
Inventarios.DataLayer/obj/Inventarios.DataLayer.csproj.nuget.cache
Inventarios.DataLayer/obj/Inventarios.DataLayer.csproj.nuget.dgspec.json
Inventarios.DataLayer/obj/Debug/netcoreapp3.0/Inventarios.DataLayer.assets.cache
Inventarios.DataLayer/obj/Debug/netcoreapp3.0/Inventarios.DataLayer.csprojAssemblyReference.cache
Inventarios.DataLayer/obj/Inventarios.DataLayer.csproj.nuget.cache
Inventarios.DataLayer/obj/Inventarios.DataLayer.csproj.nuget.dgspec.json
Inventarios.DataLayer/obj/Debug/netcoreapp3.0/Inventarios.DataLayer.csproj.FileListAbsolute.txt
Inventarios.DataLayer/obj/project.assets.json
Inventarios.DataLayer/obj/Debug/netcoreapp3.0/Inventarios.DataLayer.pdb
