<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
<mat-table [dataSource]="rows" class="mat-elevation-z8" matSort>
  <!-- select! Column -->
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-icon (click)="$event.stopPropagation(); this.selectedRow = row;">
        {{(selectedRow === row)?'arrow_left':'arrow_drop_down'}}
      </mat-icon>
    </mat-cell>
  </ng-container>

  <!-- Id! Column -->
  <ng-container matColumnDef="invcoBienId">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
      <button mat-icon-button [matMenuTriggerFor]="menuINVCOBienId">
        <mat-icon>more_vert</mat-icon>
      </button>
      <span>{{ "INVCOBienes.INVCOBienId" | translate }}!</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.invcoBienId}}</mat-cell>
    <mat-menu #menuINVCOBienId>
      <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title">
        {{ "INVCOBienes.INVCOBienId" | translate }}!
      </div>
      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions' [(value)]="searchCondition.invcoBienId">
            <mat-option *ngFor="let  condition of conditionsList" [value]="condition.value">{{condition.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <input matInput placeholder="Value" [(ngModel)]="searchValue.invcoBienId">
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <button mat-raised-button (click)="clearColumn('invcoBienId')">Clear</button>
        <button mat-raised-button color="primary" (click)="applyFilter('invcoBienId')">Search</button>
      </div>
    </mat-menu>
  </ng-container>

  <!-- Nombre: Column -->
  <ng-container matColumnDef="invcoBienNombre">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
      <button mat-icon-button [matMenuTriggerFor]="menuINVCOBienNombre">
        <mat-icon>more_vert</mat-icon>
      </button>
      <span>{{ "INVCOBienes.INVCOBienNombre" | translate }}:</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.invcoBienNombre}}</mat-cell>
    <mat-menu #menuINVCOBienNombre>
      <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title">
        {{ "INVCOBienes.INVCOBienNombre" | translate }}:
      </div>
      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions' [(value)]="searchCondition.invcoBienNombre">
            <mat-option *ngFor="let  condition of conditionsList" [value]="condition.value">{{condition.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <input matInput placeholder="Value" [(ngModel)]="searchValue.invcoBienNombre">
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <button mat-raised-button (click)="clearColumn('invcoBienNombre')">Clear</button>
        <button mat-raised-button color="primary" (click)="applyFilter('invcoBienNombre')">Search</button>
      </div>
    </mat-menu>
  </ng-container>

  <!-- Descripcion: Column -->
  <ng-container matColumnDef="invcoBienDescripcion">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
      <button mat-icon-button [matMenuTriggerFor]="menuINVCOBienDescripcion">
        <mat-icon>more_vert</mat-icon>
      </button>
      <span>{{ "INVCOBienes.INVCOBienDescripcion" | translate }}:</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.invcoBienDescripcion}}</mat-cell>
    <mat-menu #menuINVCOBienDescripcion>
      <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title">
        {{ "INVCOBienes.INVCOBienDescripcion" | translate }}:
      </div>
      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions' [(value)]="searchCondition.invcoBienDescripcion">
            <mat-option *ngFor="let  condition of conditionsList" [value]="condition.value">{{condition.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <input matInput placeholder="Value" [(ngModel)]="searchValue.invcoBienDescripcion">
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <button mat-raised-button (click)="clearColumn('invcoBienDescripcion')">Clear</button>
        <button mat-raised-button color="primary" (click)="applyFilter('invcoBienDescripcion')">Search</button>
      </div>
    </mat-menu>
  </ng-container>

  <!-- Tipo: Column -->
  <ng-container matColumnDef="invcoBienTipo">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
      <button mat-icon-button [matMenuTriggerFor]="menuINVCOBienTipo">
        <mat-icon>more_vert</mat-icon>
      </button>
      <span>{{ "INVCOBienes.INVCOBienTipo" | translate }}:</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.invcoBienTipo}}</mat-cell>
    <mat-menu #menuINVCOBienTipo>
      <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title">
        {{ "INVCOBienes.INVCOBienTipo" | translate }}:
      </div>
      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions' [(value)]="searchCondition.invcoBienTipo">
            <mat-option *ngFor="let  condition of conditionsList" [value]="condition.value">{{condition.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <input matInput placeholder="Value" [(ngModel)]="searchValue.invcoBienTipo">
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <button mat-raised-button (click)="clearColumn('invcoBienTipo')">Clear</button>
        <button mat-raised-button color="primary" (click)="applyFilter('invcoBienTipo')">Search</button>
      </div>
    </mat-menu>
  </ng-container>

  <!-- Serial: Column -->
  <ng-container matColumnDef="invcoBienSerial">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
      <button mat-icon-button [matMenuTriggerFor]="menuINVCOBienSerial">
        <mat-icon>more_vert</mat-icon>
      </button>
      <span>{{ "INVCOBienes.INVCOBienSerial" | translate }}:</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.invcoBienSerial}}</mat-cell>
    <mat-menu #menuINVCOBienSerial>
      <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title">
        {{ "INVCOBienes.INVCOBienSerial" | translate }}:
      </div>
      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions' [(value)]="searchCondition.invcoBienSerial">
            <mat-option *ngFor="let  condition of conditionsList" [value]="condition.value">{{condition.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <input matInput placeholder="Value" [(ngModel)]="searchValue.invcoBienSerial">
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <button mat-raised-button (click)="clearColumn('invcoBienSerial')">Clear</button>
        <button mat-raised-button color="primary" (click)="applyFilter('invcoBienSerial')">Search</button>
      </div>
    </mat-menu>
  </ng-container>

  <!-- Valor Compra: Column -->
  <ng-container matColumnDef="invcoBienValorCompra">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
      <button mat-icon-button [matMenuTriggerFor]="menuINVCOBienValorCompra">
        <mat-icon>more_vert</mat-icon>
      </button>
      <span>{{ "INVCOBienes.INVCOBienValorCompra" | translate }}:</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.invcoBienValorCompra}}</mat-cell>
    <mat-menu #menuINVCOBienValorCompra>
      <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title">
        {{ "INVCOBienes.INVCOBienValorCompra" | translate }}:
      </div>
      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions' [(value)]="searchCondition.invcoBienValorCompra">
            <mat-option *ngFor="let  condition of conditionsList" [value]="condition.value">{{condition.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <input matInput placeholder="Value" [(ngModel)]="searchValue.invcoBienValorCompra">
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <button mat-raised-button (click)="clearColumn('invcoBienValorCompra')">Clear</button>
        <button mat-raised-button color="primary" (click)="applyFilter('invcoBienValorCompra')">Search</button>
      </div>
    </mat-menu>
  </ng-container>

  <!-- Fecha Compra: Column -->
  <ng-container matColumnDef="invcoBienFechaCompra">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
      <button mat-icon-button [matMenuTriggerFor]="menuINVCOBienFechaCompra">
        <mat-icon>more_vert</mat-icon>
      </button>
      <span>{{ "INVCOBienes.INVCOBienFechaCompra" | translate }}:</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.invcoBienFechaCompra | date}} </mat-cell>
    <mat-menu #menuINVCOBienFechaCompra>
      <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title">
        {{ "INVCOBienes.INVCOBienFechaCompra" | translate }}:
      </div>
      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions' [(value)]="searchCondition.invcoBienFechaCompra">
            <mat-option *ngFor="let  condition of conditionsList" [value]="condition.value">{{condition.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <input matInput placeholder="Value" [(ngModel)]="searchValue.invcoBienFechaCompra">
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <button mat-raised-button (click)="clearColumn('invcoBienFechaCompra')">Clear</button>
        <button mat-raised-button color="primary" (click)="applyFilter('invcoBienFechaCompra')">Search</button>
      </div>
    </mat-menu>
  </ng-container>

  <!-- Estado Actual: Column -->
  <ng-container matColumnDef="invcoBienEstadoActual">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
      <button mat-icon-button [matMenuTriggerFor]="menuINVCOBienEstadoActual">
        <mat-icon>more_vert</mat-icon>
      </button>
      <span>{{ "INVCOBienes.INVCOBienEstadoActual" | translate }}:</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.invcoBienEstadoActual}}</mat-cell>
    <mat-menu #menuINVCOBienEstadoActual>
      <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title">
        {{ "INVCOBienes.INVCOBienEstadoActual" | translate }}:
      </div>
      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions' [(value)]="searchCondition.invcoBienEstadoActual">
            <mat-option *ngFor="let  condition of conditionsList" [value]="condition.value">{{condition.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <input matInput placeholder="Value" [(ngModel)]="searchValue.invcoBienEstadoActual">
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <button mat-raised-button (click)="clearColumn('invcoBienEstadoActual')">Clear</button>
        <button mat-raised-button color="primary" (click)="applyFilter('invcoBienEstadoActual')">Search</button>
      </div>
    </mat-menu>
  </ng-container>

  <!-- Area: Column -->
  <ng-container matColumnDef="invcoAreaId">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
      <button mat-icon-button [matMenuTriggerFor]="menuINVCOAreaId">
        <mat-icon>more_vert</mat-icon>
      </button>
      <span>{{ "INVCOBienes.INVCOAreaId" | translate }}:</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.invcoAreaId}}</mat-cell>
    <mat-menu #menuINVCOAreaId>
      <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title">
        {{ "INVCOBienes.INVCOAreaId" | translate }}:
      </div>
      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions' [(value)]="searchCondition.invcoAreaId">
            <mat-option *ngFor="let  condition of conditionsList" [value]="condition.value">{{condition.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <input matInput placeholder="Value" [(ngModel)]="searchValue.invcoAreaId">
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <button mat-raised-button (click)="clearColumn('invcoAreaId')">Clear</button>
        <button mat-raised-button color="primary" (click)="applyFilter('invcoAreaId')">Search</button>
      </div>
    </mat-menu>
  </ng-container>

  <!-- Area: Column -->
  <ng-container matColumnDef="invcoAreaDescripcion">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
      <button mat-icon-button [matMenuTriggerFor]="menuINVCOAreaDescripcion">
        <mat-icon>more_vert</mat-icon>
      </button>
      <span>{{ "INVCOBienes.INVCOAreaDescripcion" | translate }}:</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.relaciones.invcoAreaDescripcion}} </mat-cell>
    <mat-menu #menuINVCOAreaDescripcion>
      <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title">
        {{ "INVCOBienes.INVCOAreaDescripcion" | translate }}:
      </div>
      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions' [(value)]="searchCondition.invcoAreaDescripcion">
            <mat-option *ngFor="let  condition of conditionsList" [value]="condition.value">{{condition.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <input matInput placeholder="Value" [(ngModel)]="searchValue.invcoAreaDescripcion">
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <button mat-raised-button (click)="clearColumn('invcoAreaDescripcion')">Clear</button>
        <button mat-raised-button color="primary" (click)="applyFilter('invcoAreaDescripcion')">Search</button>
      </div>
    </mat-menu>
  </ng-container>

  <!-- Nombre: Column -->
  <ng-container matColumnDef="invcoPersonaId">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
      <button mat-icon-button [matMenuTriggerFor]="menuINVCOPersonaId">
        <mat-icon>more_vert</mat-icon>
      </button>
      <span>{{ "INVCOBienes.INVCOPersonaId" | translate }}:</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.invcoPersonaId}}</mat-cell>
    <mat-menu #menuINVCOPersonaId>
      <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title">
        {{ "INVCOBienes.INVCOPersonaId" | translate }}:
      </div>
      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions' [(value)]="searchCondition.invcoPersonaId">
            <mat-option *ngFor="let  condition of conditionsList" [value]="condition.value">{{condition.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <input matInput placeholder="Value" [(ngModel)]="searchValue.invcoPersonaId">
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <button mat-raised-button (click)="clearColumn('invcoPersonaId')">Clear</button>
        <button mat-raised-button color="primary" (click)="applyFilter('invcoPersonaId')">Search</button>
      </div>
    </mat-menu>
  </ng-container>

  <!-- Nombre: Column -->
  <ng-container matColumnDef="invcoPersonaNombreCompleto">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
      <button mat-icon-button [matMenuTriggerFor]="menuINVCOPersonaNombreCompleto">
        <mat-icon>more_vert</mat-icon>
      </button>
      <span>{{ "INVCOBienes.INVCOPersonaNombreCompleto" | translate }}:</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.relaciones.invcoPersonaNombreCompleto}} </mat-cell>
    <mat-menu #menuINVCOPersonaNombreCompleto>
      <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title">
        {{ "INVCOBienes.INVCOPersonaNombreCompleto" | translate }}:
      </div>
      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions' [(value)]="searchCondition.invcoPersonaNombreCompleto">
            <mat-option *ngFor="let  condition of conditionsList" [value]="condition.value">{{condition.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <input matInput placeholder="Value" [(ngModel)]="searchValue.invcoPersonaNombreCompleto">
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <button mat-raised-button (click)="clearColumn('invcoPersonaNombreCompleto')">Clear</button>
        <button mat-raised-button color="primary" (click)="applyFilter('invcoPersonaNombreCompleto')">Search</button>
      </div>
    </mat-menu>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"
           (click)="onSelect($event, row);"></mat-row>
</mat-table>
<mat-toolbar>
  <mat-toolbar-row>
    <mat-icon (click)="add()" title="{{ 'Main._addRow' | translate }}">add</mat-icon>
    <mat-icon (click)="edit()" title="{{ 'Main._editRow' | translate }}">edit</mat-icon>
    <mat-icon (click)="refresh()" title="{{ 'Main._refreshTable' | translate }}">refresh</mat-icon>
    <mat-icon (click)="exportCsv(rows)" title="{{ 'Main._exportCSV' | translate }}">save_alt</mat-icon>
    <span class="example-spacer"></span>
    <mat-paginator class="paginator"
                   [length]="resultsLength"
                   [pageSize]="_pageSize"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </mat-toolbar-row>
</mat-toolbar>
