<div class="container">
		<h1>Modulo Cartera</h1>
	</div>
	<div id="mostrar-nav"></div>
    <nav>
      <div class="menu-side">
          <li><a href="#"><i class="material-icons" style="vertical-align:-5px;" > local_pizza </i> Item1</a></li>
          <li><a href="#"><i class="material-icons" style="vertical-align:-5px;"> fastfood </i> Item2</a></li>

          <div class="item">
              <input type="checkbox" style="display:none;"id="submenu1">
              <label for="submenu1"><i class="material-icons" style="vertical-align:-5px;"> apps </i>Menu1
                <i class="material-icons" style="vertical-align: middle; margin-left: 3em;">keyboard_arrow_right</i></label>

              <ul>
                  <li><a href="#">SubMenu1.1</a></li>
                  <li><a href="#">SubMenu1.2</a></li>
                  <li><a href="#">SubMenu1.3</a></li>
              </ul>
          </div>

          <li><a href="#"><i class="material-icons" style="vertical-align:-5px;">android</i> Item3</a></li>

          <div class="item">
               <input type="checkbox" style="display:none;" id = "submenu2">
               <label for="submenu2"><i class="material-icons" style="vertical-align:-5px;">view_list</i>Menu2
                 <i class="material-icons" style="vertical-align: middle; margin-left: 3em;">keyboard_arrow_right</i></label>
            <ul>
              <li><a href="#">SubMenu1.2</a></li>
              <li><a href="#">SubMenu2.2</a></li>
              <div class="item">
                <input type="checkbox" style="display:none;" id="subsubmenu3">
                <label for="subsubmenu3"><i class="material-icons" style="vertical-align: -5px;">account_box</i>SubMenu3.2
                  <i class="material-icons" style="vertical-align: middle; margin-left: 1.4em;">keyboard_arrow_right</i></label>

                    <ul>
                      <li><a href="#">subsubmenu1.1.1</a></li>
                      <li><a href="#">subsubmenu1.1.2</a></li>
                      <li><a href="#">subsubmenu1.1.3</a></li>
                    </ul>
              </div>
            </ul>

          </div>

          <li><a href="#"><i class="material-icons" style="vertical-align:-5px;"> account_box</i>Salir</a></li>

          <div class="item">
               <input type="checkbox"style="display:none;" id="submenu3">
               <label for="submenu3">Menu
               <i class="material-icons" style="vertical-align: middle; margin-left: 4.3em;">keyboard_arrow_right</i></label>

          <ul>
            <li><a href="#">Probando1</a></li>
          </ul>
        </div>
      </div>
    </nav>
