<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'>Inventarios</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" [routerLink]='["/"]'>Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="!isLogin">
            <a class="nav-link text-dark" [routerLink]='["/login"]'>{{ 'login._titulo' | translate }}</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="isLogin">
            <a class="nav-link text-dark" [routerLink]='["/ciuu"]'>{{ 'INVCOCiuu._titulo' | translate }}</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="isLogin">
            <a class="nav-link text-dark" [routerLink]='["/areas"]'>{{ 'INVCOAreas._titulo' | translate }}</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="isLogin"> 
            <a class="nav-link text-dark" [routerLink]='["/personas"]'>{{ 'INVCOPersonas._titulo' | translate }}</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="isLogin">
            <a class="nav-link text-dark" [routerLink]='["/bienes"]'>{{ 'INVCOBienes._titulo' | translate }}</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarIdioma" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ 'Main._idioma' | translate }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarIdioma">
              <a class="dropdown-item" href="#" (click)="setLanguage('es');">Español</a>
              <a class="dropdown-item" href="#" (click)="setLanguage('en');">English</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
