<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
<mat-table [dataSource]="rows" class="mat-elevation-z8" matSort (matSortChange)="refresh($event)">
    <!-- select! Column -->
 <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-icon (click)="$event.stopPropagation(); this.selectedRow = row;">
        {{(selectedRow === row)?'arrow_left':'arrow_drop_down'}}
      </mat-icon>
    </mat-cell>
  </ng-container>

    <!-- aplicacion Codigo! Column -->
  <ng-container matColumnDef="tecbogRolesaplicacionCodigo">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
      <button mat-icon-button [matMenuTriggerFor]="menuTECBOGRolesaplicacionCodigo">
        <mat-icon>more_vert</mat-icon>
      </button>
      <span>{{ "TECBOGRoles.TECBOGRolesaplicacionCodigo" | translate }}!</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.tecbogRolesaplicacionCodigo}}</mat-cell>
    <mat-menu #menuTECBOGRolesaplicacionCodigo>
      <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title">
        {{ "TECBOGRoles.TECBOGRolesaplicacionCodigo" | translate }}!
      </div>
      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions' [(value)]="searchCondition.tecbogRolesaplicacionCodigo">
            <mat-option *ngFor="let  condition of conditionsListNumber" [value]="condition.value">{{condition.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <input matInput placeholder="Value" [(ngModel)]="searchValue.tecbogRolesaplicacionCodigo">
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <button mat-raised-button (click)="clearColumn('tecbogRolesaplicacionCodigo')">Clear</button>
        <button mat-raised-button color="primary" (click)="applyFilter('tecbogRolesaplicacionCodigo')">Search</button>
      </div>
    </mat-menu>
  </ng-container>

    <!-- Codigo Rol! Column -->
  <ng-container matColumnDef="tecbogRolesCodigoRol">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
      <button mat-icon-button [matMenuTriggerFor]="menuTECBOGRolesCodigoRol">
        <mat-icon>more_vert</mat-icon>
      </button>
      <span>{{ "TECBOGRoles.TECBOGRolesCodigoRol" | translate }}!</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.tecbogRolesCodigoRol}}</mat-cell>
    <mat-menu #menuTECBOGRolesCodigoRol>
      <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title">
        {{ "TECBOGRoles.TECBOGRolesCodigoRol" | translate }}!
      </div>
      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions' [(value)]="searchCondition.tecbogRolesCodigoRol">
            <mat-option *ngFor="let  condition of conditionsListNumber" [value]="condition.value">{{condition.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <input matInput placeholder="Value" [(ngModel)]="searchValue.tecbogRolesCodigoRol">
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <button mat-raised-button (click)="clearColumn('tecbogRolesCodigoRol')">Clear</button>
        <button mat-raised-button color="primary" (click)="applyFilter('tecbogRolesCodigoRol')">Search</button>
      </div>
    </mat-menu>
  </ng-container>

    <!-- Rol Nombre: Column -->
  <ng-container matColumnDef="tecbogRolesRolNombre">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
      <button mat-icon-button [matMenuTriggerFor]="menuTECBOGRolesRolNombre">
        <mat-icon>more_vert</mat-icon>
      </button>
      <span>{{ "TECBOGRoles.TECBOGRolesRolNombre" | translate }}:</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.tecbogRolesRolNombre}}</mat-cell>
    <mat-menu #menuTECBOGRolesRolNombre>
      <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title">
        {{ "TECBOGRoles.TECBOGRolesRolNombre" | translate }}:
      </div>
      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions' [(value)]="searchCondition.tecbogRolesRolNombre">
            <mat-option *ngFor="let  condition of conditionsList" [value]="condition.value">{{condition.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <input matInput placeholder="Value" [(ngModel)]="searchValue.tecbogRolesRolNombre">
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <button mat-raised-button (click)="clearColumn('tecbogRolesRolNombre')">Clear</button>
        <button mat-raised-button color="primary" (click)="applyFilter('tecbogRolesRolNombre')">Search</button>
      </div>
    </mat-menu>
  </ng-container>

    <!-- Rol Estado: Column -->
  <ng-container matColumnDef="tecbogRolesRolEstado">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
      <button mat-icon-button [matMenuTriggerFor]="menuTECBOGRolesRolEstado">
        <mat-icon>more_vert</mat-icon>
      </button>
      <span>{{ "TECBOGRoles.TECBOGRolesRolEstado" | translate }}:</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row"> 
        <mat-checkbox [(ngModel)]="row.tecbogRolesRolEstado"></mat-checkbox>
    </mat-cell>
    <mat-menu #menuTECBOGRolesRolEstado>
      <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title">
        {{ "TECBOGRoles.TECBOGRolesRolEstado" | translate }}:
      </div>
      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions' [(value)]="searchCondition.tecbogRolesRolEstado">
            <mat-option *ngFor="let  condition of conditionsListNumber" [value]="condition.value">{{condition.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <mat-form-field (click)="$event.stopPropagation()">
          <input matInput placeholder="Value" [(ngModel)]="searchValue.tecbogRolesRolEstado">
        </mat-form-field>
      </div>

      <div mat-menu-item mat-filter-item [disableRipple]="true">
        <button mat-raised-button (click)="clearColumn('tecbogRolesRolEstado')">Clear</button>
        <button mat-raised-button color="primary" (click)="applyFilter('tecbogRolesRolEstado')">Search</button>
      </div>
    </mat-menu>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; let even = even; columns: displayedColumns; " 
            [ngClass]="{'alternate-row-color': even}" 
            (click)="onSelect($event, row);"></mat-row>
</mat-table>
<mat-toolbar>
    <mat-toolbar-row>
      <mat-icon (click)="add()" title="{{ 'Main._addRow' | translate }}">add</mat-icon>
      <mat-icon (click)="edit()" title="{{ 'Main._editRow' | translate }}">edit</mat-icon>
      <mat-icon (click)="refresh()" title="{{ 'Main._refreshTable' | translate }}">refresh</mat-icon>
      <mat-icon (click)="exportCsv(rows)" title="{{ 'Main._exportCSV' | translate }}">save_alt</mat-icon>
      <span class="example-spacer"></span>
      <mat-paginator class="paginator" 
            (page)="refresh();"
            [length]="resultsLength" 
            [pageSize]="_pageSize" 
            [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </mat-toolbar-row>
</mat-toolbar>